<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <!-- we are passing this recipe item from here (recipe-list-component) to recipe-item component -->
    <!-- <app-recipe-item
    *ngFor="let recipeItem of recipes"
    [recipe]="recipeItem"
    (recipeSelected)="onRecipeSelected(recipeItem)"></app-recipe-item> -->

    <app-recipe-item
      *ngFor="let recipeItem of recipes; let i = index"
      [recipe]="recipeItem"
      [index]="i"
    ></app-recipe-item>
  </div>
</div>
